:root {
    --font-size-general: 16px;
    --line-height-general: 1.2;
    --default-font: Arial, sans-serif;

    --color-main: #333;
    --color-selection: #fff;

    --bg-main: #fff;
    --bg-selection: #345dff;
}