.svg-icon {
	display: block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-eye {
	width: 1.4em;
}

//example html icon tag
// <svg class="svg_icon">
// 	<use xlink:href="#icon-name"></use>
// </svg>