// template css
@use "templates/header";
@use "templates/main";
@use "templates/footer";
// // template css
// @use "templates/forms";
// // template css
// @use "includes/popup";

// variables
// @forward "includes/variables";
// custom mixins
// @forward "includes/mixins";
@use 'includes/mixins' as *;
// res css
@use "includes/res";
// @forward "includes/normalize";
// root css
@use "includes/root";
// media quaries
@use "includes/media-queries";

// fonts
// @include font-face('Ico Moon', '../fonts/icomoon', normal, normal);

//icon fonts Ico Moon
// [class^="icon-"], [class*=" icon-"] {
// 	/* use !important to prevent issues with browser extensions that change fonts */
// 	font-family: 'Ico Moon' !important;
// 	font-size: 12px;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

html{
	height:100%;
	min-width:320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	font: var(--font-size-general)/var(--line-height-general) var(--default-font);
	// min-height:100%;
	height: 100%;
	min-width: 320px;
	position: relative;
	color: var(--color-main);
	background: var(--bg-main);
}
a{
	color: var(--color-main);
	text-decoration:none;
	// &:hover{
	// 	text-decoration: underline;
	// }
}

input{
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}

* {
	box-sizing: border-box;
	outline: none;
	&:before, 
	&:after{
		box-sizing: border-box;
	}
	@include selection {
		background: var(--bg-selection); color: var(--color-selection);
	}
}

// .svg-icon {
// 	display: inline-block;
// 	vertical-align: top;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

//ico
// *[class*=ico_]{
// 	display:inline-block;
// 	vertical-align:top;
// 	background:url(../images/sprite@320.png) no-repeat;
// 	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
// 		background:url(../images/sprite2x.png) no-repeat;
// 		background-size: 0px 0px; // width and height sprite320
// 	}
// }

//placeholder cross-browser
input, textarea {
	@include placeholder {color: var(--color-main);}
	&.placeholder {color: var(--color-main) !important;}
}
// separator
// @extend %separator;
// %separator {
// 	display: inline-block;
// 	vertical-align: middle;
// 	padding-left: 10px;
// 	&:before {
// 		content: '|';
// 		padding-right: 10px;
// 		color: #000;
// 	}
// 	&:first-child {
// 		padding-left: 0;
// 		&:before {
// 			display: none;
// 			padding-right: 0;
// 		}
// 	}
// }

// clearfix
// @extend %clearfix;
// %clearfix {
// 	&:before {
// 		content: "";
// 		display: table;
// 		clear: both;
// 	}
// 	&:after {
// 		content: "";
// 		display: table;
// 		clear: both;
// 	}
// }

.wrapper{
	// display: table;
	// width: 100%;
	// height: 100%;
	// table-layout: fixed;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.container{
	max-width: 1064px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

//helpers
//thumbs
// .thumbs-parent {
//     --flex-gap: 6px;
//     --flex-items: 5;
    
//     display: flex;
//     flex-wrap: wrap;
//     gap: var(--flex-gap);
// }
// .thumbs-child {
//     width: calc((100% / var(--flex-items)) - (((var(--flex-items) - 1) / var(--flex-items)) * var(--flex-gap)));
//     @media screen and (max-width: 991px) {
//         --flex-items: 4;
//     }
// 	@media screen and (max-width: 767px) {
//         --flex-items: 3;
//     }
// }

//media
// @include max-screen(1000px) {}
