@use "includes/media-queries" as *;
@use "includes/mixins" as *;

.footer{
	background-color: var(--bg-partial);
	flex-shrink: 0;
	flex-grow: 0;
	padding: 1.68rem 0;
	color: var(--color-dark-gray);
}