// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.header{
    background-color: #b4e9ff;
    padding: 1rem 0;
    flex-shrink: 0;
    flex-grow: 0;
}