// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';
.main{
    background-color: #ffd8d8;
    flex-shrink: 1;
    flex-grow: 1;
    padding: 1rem 0;
}